.settings-page {
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.settings-page .container.page {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}

.settings-page h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #343a40;
}

.settings-page .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.settings-page .form-margin {
    margin-bottom: 1rem;
}

.settings-page .btn-primary {
    background-color: #343a40;
    border-color: #343a40;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
}

.settings-page .btn-primary:hover {
    background-color: #23272b;
    border-color: #1d2124;
}

.settings-page .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
}

.settings-page .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}

/* Estilos adicionales para los radio buttons */
.hidden-toggles {
    position: relative;
    border-radius: 999px;
    overflow: hidden;
    height: 44px;
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    margin: 0 auto;
}

.hidden-toggles__input {
    display: none;
}

.hidden-toggles__input:checked + .hidden-toggles__label {
    background-color: #343a40;
    color: #FFFFFF;
}

.hidden-toggles__label {
    flex: 1;
    text-align: center;
    padding: 10px 1px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #343a40;
    font-weight: 500;
}

.hidden-toggles__label:hover {
    color: #343a40;
}

.hidden-toggles__label + .hidden-toggles__label {
    border-left: 2px solid #343a40;
}