<div class="settings-page">
    <div class="container page">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
                    <fieldset [disabled]="isSubmitting">
                        <div class="form-group row">
                            <label for="image" class="col-sm-4 col-form-label">URL imagen perfil:</label>
                            <div class="col-sm-8">
                                <input id="image" class="form-control form-margin" type="text" placeholder="Image"
                                    formControlName="image" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ocupado:</label>
                            <div class="col-sm-8">
                                <fieldset class="form-group hidden-toggles">
                                    <input type="radio" id="busy-true" name="busy" [value]="true" class="hidden-toggles__input" formControlName="busy" />
                                    <label for="busy-true" class="hidden-toggles__label">True</label>

                                    <input type="radio" id="busy-false" name="busy" [value]="false" class="hidden-toggles__input" formControlName="busy" />
                                    <label for="busy-false" class="hidden-toggles__label">False</label>
                                </fieldset>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Actualizar ajustes
                        </button>
                    </fieldset>
                </form>
                <hr />
                <button class="btn btn-outline-danger btn-block" (click)="logout()">
                    Cerrar Sesión
                </button>
            </div>
        </div>
    </div>
</div>