<div class="container mt-3" *ngIf="job">
    <div class="card flex-row align-items-center p-3 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <h5 class="card-title font-weight-bold">{{job.name}}</h5>
                <p class="card-text"><strong>Empresa:</strong> {{ job.company }}</p>
                <p class="card-text"><strong>Descripción:</strong> {{ job.description }}</p>
                <p class="card-text"><strong>Salario:</strong> {{ job.salary | number:'1.0-0':'en' }} €</p>
            </div>
            <div class="d-flex mt-3 justify-content-between align-items-center">
                <span [ngClass]="{'text-success': job.isActive, 'text-danger': !job.isActive}">
                    {{ job.isActive ? 'Activado' : 'Desactivado' }}
                </span>
                <div>
                    <button class="btn btn-warning btn-sm mr-2" (click)="onEditInscriptions(job)"
                        id="{{job.id}}">Ver candidatos</button>
                </div>
            </div>
        </div>
    </div>
</div>