.details_page {
  background-color: #f8f9fa;
  padding: 20px;
  padding-right: 35px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-info {
  flex: 1;
  margin-right: 20px;
}

.job-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.company-name {
  font-size: 1.2rem;
  color: #6c757d;
  text-decoration: underline;
}

.job-description,
.job-salary {
  margin-top: 20px;
}

.apply-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apply-button .btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.favorite-button {
  margin-left: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.carousel-container {
  min-width: 500px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comments_list {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#comments_list h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#comments_list .comment {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#comments_list .comment strong {
  color: #007bff;
}

#comments_list .comment p {
  margin: 0;
  color: #555;
}

#comments_list .comment button {
  margin-top: 10px;
}

#comments_list .comment button:hover {
  background-color: #c82333;
}

.btn-disabled {
  background-color: #6c757d; /* Color gris para botón deshabilitado */
  color: white;
  cursor: not-allowed;
}