.favorite-btn {
  padding: 10px;
  margin-top: 10px;
  border: 1.5px solid #d3d3d3; /* light grey */
  color: #000000;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px #d3d3d3; /* light grey */
  transition: background-color 0.3s, transform 0.3s;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-btn .ion-heart {
  margin-right: 5px;
}

.favorite-btn:hover {
  background-color: #adbce6;
  transform: scale(1.05);
}

.favorite-btn.favorited {
  background-color: #ff657c;
  color: #ffffff;
}

.favorite-btn.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}