<div *ngFor="let comment of comments" class="comment-container">
    <div class="comment-header">
        <img src="{{ comment.author.image }}" class="rounded-circle" width="50" height="50"
            alt="{{ comment.author.username }}">
        <div class="comment-details">
            <h3>{{ comment.author.username }}</h3>
            <hr>
            <p>{{ comment.body }}</p>
            <p class="comment-date">{{ comment.createdAt | date: 'mediumDate' }}</p>
        </div>
        <button class="btn btn-danger delete-button" *ngIf="canModify(comment)" (click)="deleteClicked(comment)">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>

<div *ngIf="!currentUser" class="no-comments">
    <p>Sign in to post comments.</p>
</div>
<div *ngIf="currentUser" class="comment-form">
    <app-form-comment [slug]="slug" (submitComment)="onCommentSubmitted()"></app-form-comment>
</div>