<section class="pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <select class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded shadow" name="category" id="category"
            [(ngModel)]="id_cat" (change)="filter_jobs()">
            <option disabled selected value="">Category</option>
            <option *ngFor="let category of listCategories" [value]="category.id_cat">{{category.category_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" class="form-control border-0 mb-1 px-4 py-4 rounded shadow" placeholder="Min Salary"
            [(ngModel)]="salary_min" min="0" step="500" (input)="filter_jobs()">
        </div>
        <div class="form-group">
          <input type="number" class="form-control border-0 mb-1 px-4 py-4 rounded shadow" placeholder="Max Salary"
            [(ngModel)]="salary_max" min="0" step="500" (input)="filter_jobs()">
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-success" (click)="remove_filters()">
            <i class="fa-solid fa-eraser"></i> Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</section>