.form-group select,
.form-group input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.catname {
  text-align: left;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
