<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About Us</h2>
        <p>We are a company dedicated to providing the best job offers.</p>
      </div>
      <div class="col">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col">
        <h2>Contact Us</h2>
        <ul>
          <li>Email: infoexample.com</li>
          <li>Phone: +123 456 7890</li>
          <li>Address: 123 Main St, Anytown, USA</li>
        </ul>
      </div>
      <div class="col social">
        <ul>
          <li><a href="https://github.com/CainMartinez"><img src="../../../../assets/logo/github-color-svgrepo-com.svg" width="32" alt="GitHub"></a></li>
          <li><p>Caín Martínez Bernabeu</p></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>