<div class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Contact Section -->
      <div class="col-md-6">
        <h1>Contacto</h1>
        <ul class="list-unstyled">
          <li>Dirección: Calle Falsa 123, Ciudad, País</li>
          <li>Teléfono: +123 456 7890</li>
          <li>Email: contactoarrobaempresa.com</li>
        </ul>
      </div>
      <!-- Social Section -->
      <div class="col-md-6">
        <h1>Social</h1>
        <ul class="list-unstyled">
          <li>
            <h6>Angela Torro</h6><a href="https://github.com/AngeletaT"><img
                src="../../../../assets/logo/github-color-svgrepo-com.svg" width="32" style="width: 32px;"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>