<footer class="bg-info text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <div class="container p-4 pb-0">
      <ul class="list-unstyled d-flex justify-content-center">
        <li>
          <p>Caín Martínez Bernabeu</p>
        </li>
      </ul>
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="#!" target="_blank" role="button">
        <i class="fab fa-facebook-f text-white"></i>
      </a>

      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="#!" target="_blank" role="button">
        <i class="fab fa-twitter text-white"></i>
      </a> -->

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="https://www.instagram.com/c.martinezbernabeu" target="_blank" role="button">
        <i class="fab fa-instagram text-white"></i>
      </a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="https://www.linkedin.com/in/c-martinez-bernabeu" target="_blank" role="button">
        <i class="fab fa-linkedin-in text-white"></i>
      </a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="https://github.com/CainMartinez" target="_blank" role="button">
        <i class="fab fa-github text-white"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- GitHub Link and Name -->
 

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="#">TIC Jobs NET</a>
  </div>
  <!-- Copyright -->
</footer>