.fixed-card {
  width: 730px; 
  height: 600px; 
}

.fixed-img {
  height: 300px; 
  object-fit: cover; 
}

.fixed-body {
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-primary {
  color: #007bff;
  text-decoration: none;
}

.text-primary:hover {
  text-decoration: underline;
}