<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-4 d-flex justify-content-center" *ngIf="category">
      <div class="card h-100 shadow-sm bg-light fixed-card">
        <a class="card-img-tiles" data-abc="true">
          <div class="inner">
            <div class="main-img">
              <img class="img-fluid mx-auto d-block fixed-img" src="{{category.image}}" alt="{{category.category_name}}" />
            </div>
          </div>
        </a>
        <div class="card-body text-center fixed-body">
          <h4 class="card-title">{{category.category_name}}</h4>
          <a [routerLink]="['/shop/categories/', category.slug]" class="text-primary" data-abc="true">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>