.carousel {
  background-color: #1e262d;
  min-height: 500px; 
  min-width: 500px;
}

.carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5); 
  padding: 1rem;
  border-radius: 0.5rem;
}

.carousel .carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel .carousel-caption .btn {
  margin-top: 1rem;
}

.img_carousel {
  max-height: 500px;
  object-fit: cover;
}
